<?xml version="1.0" encoding="UTF-8"?>

<app name="de.tuberlin.inet.sdwn.sdwn-controller" origin="TU Berlin INET" version="${project.version}"
     category="Wireless" url="https://inet.tu-berlin.de" title="SDWN controller application"
     featuresRepo="mvn:${project.groupId}/${project.artifactId}/${project.version}/xml/features"
     features="${project.artifactId}" apps="de.tuberlin.inet.sdwn.sdwn-driver">
    <description>${project.description}</description>
    <artifact>mvn:org.onosproject/onos-protocols-openflow-api/${onos.version}</artifact>

    <artifact>mvn:${project.groupId}/sdwn-core-api/${project.version}</artifact>
    <artifact>mvn:${project.groupId}/sdwn-core-ctl/${project.version}</artifact>
    <artifact>mvn:${project.groupId}/sdwn-core-cli/${project.version}</artifact>
    <artifact>mvn:${project.groupId}/sdwn-core-rest/${project.version}</artifact>
</app>
